<div class="panel panel-info">
  <div class="panel-heading"> MENU DES ACTIVES.</div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ><a [routerLink]="['/accueil']">ACCUEIL</a></li>
      <li role="presentation" ><a [routerLink]="['/invite']">INVITES</a></li>
      <li role="presentation"><a [routerLink]="['/etudiant']">ETUDIANTS</a></li>
      <li role="presentation"><a [routerLink]="['/enseignant']">ENSEIGNANT</a></li>
      <li role="presentation"><a [routerLink]="['/employe']">EMPLOYES</a></li>
      <li role="presentation"><a href="#">FORMATION</a></li>
    </ul>
  </div>
</div>

