
<div class="container">
  <div class="row">
<div class="jumbotron text-center">
  <h3>LES INVITES</h3>
  <a [routerLink]="['/accueil']" class="btn btn-danger"> Accueil</a>
</div>
    <div class="alert alert-danger"> {{errorMessage}}  {{errorMessageStatus}} </div>
  </div>
  <div class="row">
    <div class="col-md-10 ">
  <p-dataTable [value]="invites" selectionMode="single" [(selection)]="selectedInvite" (onRowSelect)="onRowSelect($event)"
               [paginator]="true" rows="5" [responsive]="true" expandableRows="true">
    <p-header>CRUD for invités</p-header>
    <p-column expander="true" styleClass="col-icon"></p-column>
    <p-column field="id" header="ID" [sortable]="true"></p-column>
    <p-column field="numCni" header="CNI" [sortable]="true"></p-column>
    <p-column field="titre" header="TITRE" [sortable]="true"></p-column>
    <p-column field="nom" header="NOM" [sortable]="true"></p-column>
    <p-column field="prenom" header="PRENOM" [sortable]="true"></p-column>
    <p-column field="profil" header="PROFIL" [sortable]="true"></p-column>
    <p-column field="raison" header="RAISON" [sortable]="true"></p-column>
    <ng-template let-invite pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">
            <i class="fa fa-search" (click)="showInvite(invite)" style="cursor:pointer;float:left;margin-top:40px"></i>
          </div>
          <div class="ui-grid-col-3">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">Statut: </div>
                <div class="ui-grid-col-10">{{invite.status}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">Socité: </div>
                <div class="ui-grid-col-10">{{invite.societe}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">Lieu: </div>
                <div class="ui-grid-col-10">{{invite.adresse.quartier}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">Postal: </div>
                <div class="ui-grid-col-10">{{invite.adresse.codepostal}}</div>
              </div>
            </div>
          </div>
          <div class="ui-grid-col-6">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">E-mail: </div>
                <div class="ui-grid-col-10">{{invite.adresse.email}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">Profil: </div>
                <div class="ui-grid-col-10">{{invite.profil}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 ">Raison: </div>
                <div class="ui-grid-col-10">{{invite.raison}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">Postal: </div>
                <div class="ui-grid-col-10">{{invite.adresse.codepostal}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!--<p-column field="adresse.codePostal" header="POSTAL" [sortable]="true"></p-column>-->
    <!--<p-column field="adresse.quartier" header="LIEU" [sortable]="true"></p-column>-->
    <!--<p-column field="adresse.email" header="E-MAIL" [sortable]="true"></p-column>-->
    <!--<p-column field="societe" header="SOCIETE" [sortable]="true"></p-column>-->
    <!--<p-column field="status" header="STATUT" [sortable]="true"></p-column>-->
    <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
  </p-dataTable>
    </div>
  </div>

  <hr/>
  <hr/>

</div>


<p-dialog header="Invité Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="invite">
    <div class="ui-grid-row" *ngIf="invite.id != null">
      <div class="ui-grid-col-4" ><label for="id">ID</label></div>
      <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="invite.id" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="titre">Titre</label></div>
      <div class="ui-grid-col-8"><input pInputText id="titre" [(ngModel)]="invite.titre"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="cni">Cni</label></div>
      <div class="ui-grid-col-8"><input pInputText id="cni" [(ngModel)]="invite.numCni" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nom">Nom</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nom" [(ngModel)]="invite.nom" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="prenom">Prenom</label></div>
      <div class="ui-grid-col-8"><input pInputText id="prenom" [(ngModel)]="invite.prenom" /></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="profil">Profil</label></div>
      <div class="ui-grid-col-8"><input pInputText id="profil" [(ngModel)]="invite.profil" /></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

