<div class="row"><app-navbar></app-navbar>
  <br/>
  <hr/>
</div>

<div class="row ">
  <div class="col-md-2"><app-menugauche></app-menugauche></div>
  <div class="col-md-10 ">
    <router-outlet></router-outlet>
  </div>
</div>

