<div class="row container ">
  <div class=" col-md-9 jumbotron text-center">
    <div >
      <h2 style="color: red">
        {{title}}<i class="fa fa-flag-checkered" style="color: black"></i>
      </h2>
    </div>
    <div class="row">
      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <hr/>
    <div align="center" >
      <button pButton type="button"  icon="fa-check" label="Invités" (click)="onInvite()"></button>
      <button pButton type="text"  icon="fa-check" label="Etudiant" class="ui-button-info" (click)="onEtudiant()" ></button>
      <button pButton type="button"  icon="fa-check" label="Enseignant" class="ui-button-danger" (click)="onEnsignant()"></button>
      <button pButton type="b"  icon="fa-check" label="employes" class="ui-button-success" (click)="onEmploye()"></button>
      <button pButton type="button"  icon="fa-check" label="Formations" class="ui-button-warning" ></button>
      <!--<button pButton type="button" icon="fa-check" iconPos="right" label="Voir"></button>-->

    </div>
  </div>
</div>
